.newPostBox {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    background-color: #CFCFCF;
    align-items: baseline;


    /* border-style: groove; */
}

.description {
    width: 225px;
    height: 80px;
   
   }

   .title {
    display: flex;
    align-items: flex-end;
    width: 375px
   }

   .price {
        width: 248px;
   }

   .location {
    width: 225px;
   }

   .formProp {
    margin: 4px;
   }