@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@100&display=swap');


h2 {
    background-color: #CFCFCF;
}

.fullPost {
    font-family: 'Montserrat', sans-serif;
}

.title {
    background-color: #CFCFCF;
    font-size: 16pt;
}


